@media (max-width: 670px) {
    .container {
        min-width: 300px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .photo__bg {
        position: absolute;
        right: calc(50% -  160px);
        top: -290px;
        width: 320px;
    }
    .slider_photo {
        position: absolute;
        right: calc(50% -  110px);
        top: -280px;
        width: 220px;
        height: 120px;
    }

    .button_selector {
        margin-top: -30px;
    }
    .header_form {
        padding-bottom: 250px;
    }

    .services_description_title {
        text-align: center;
    }
    .services_icon {
        margin-bottom: 10px;
    }
    
    .about_us {
        min-height: 350px;
        background-image: none;
    }
    .about_us-description {
        margin-left: 10px;
        transform: translateY(20px)
    }
    .about_us-text {
        font-size: 13px;
        margin-bottom: 25px;
    }
    .button__wrap {
        text-align: center;
    }
    .how {
        padding: 20px 0 20px;
    }
    .client_review_block {
        width: 280px;
        min-height: 282px;
        margin-top: 10px;
        margin-right: 10px;
    }
    .clients_img {
        width: 60px;
        height: 60px;
    }
    .img_box {
        padding: 20px 10px 0;
    }
    .review_text {
        max-width: 280px;
        padding: 10px 10px;
    }
    .review_text::before, .review_text::after {
        content: none;
    }
    .reviewer {
        padding: 10px;
        font-size: 14px;
    }
    .client_text {
        margin-bottom: 20px;
    }
    .newsletter .header_form {
        padding-bottom: 45px;
    }
    .newsletter_form_name, .newsletter_form_email {
        width: 280px;
    }
    .footer_01 {
        padding: 30px 0 30px;
    }
    .footer_nav_box {
        text-align: center;
        padding: 0 35px;
    }
    .footer_nav_items {
        margin-right: 0;
        padding: 5px;
    }
    .footer_nav_links {
        font-size: 12px;
    }
    .footer_02 {
        padding: 25px;
    }
}